// Override CONSUL DEMOCRACY and Foundation settings in this file.
//
// For example, override the brand color to #123456 with:
//
// $brand: #123456;
//
// Or override Foundation's tooltip color to #123456 with:
//
// $tooltip-color: #123456;
//
// The variables you can override are defined in the
// `_settings.scss` and `_consul_settings.scss` files.
$brand:             #0f15fd !default;
$featured:          #f1be51 !default;

$body-font-family: 'Poppins', normal !default;


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: font-url('poppins-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: font-url('poppins-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: font-url('poppins-bold.ttf') format('truetype');
}
